includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7
    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - routes
    parallel:
        maximumNumberOfProcesses: 1
        processTimeout: 300.0
        minimumNumberOfJobsPerProcess: 1000
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: argument.templateType
        - message: '#Call to an undefined method.*::forMonth\(\)#'
